In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
df=pd.read_csv("hprice.csv")
df

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250
...,...,...,...,...,...,...,...
13195,Whitefield,5 Bedroom,3453.0,4.0,231.00,5,6689
13196,other,4 BHK,3600.0,5.0,400.00,4,11111
13197,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2,5258
13198,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,4,10407
13199,Doddathoguru,1 BHK,550.0,1.0,17.00,1,3090

In [58]:
# split data

x=df.drop("price",axis=1)
y=df['price']

print('shape of x',x.shape)
print('shape of y',y.shape)

NameError: name 'price' is not defined

In [43]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.2,random_state=51)

In [46]:

print('shape of x tain',x_train.shape)
print('shape of x test',x_test.shape)
print('shape of y tain',y_train.shape)
print('shape of y test',y_test.shape)

shape of x tain (10560, 6)
shape of x test (2640, 6)
shape of y tain (10560,)
shape of y test (2640,)

In [50]:
'''from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(x_train)
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)'''

'from sklearn.preprocessing import StandardScaler\nsc=StandardScaler()\nsc.fit(x_train)\nx_train=sc.transform(x_train)\nx_test=sc.transform(x_test)'

In [52]:
from sklearn.linear_model import LinearRegression #class
lr=LinearRegression() #object

In [59]:
#lr.fit(x_train,y_train)

In [ ]:
#lr.coef_ #co efficient

In [ ]:
#lr.intercept_

In [60]:
#lr.predict(x_test)

In [61]:
#y_test

In [62]:
#lr.score(x_test,y_test)  accuracy

In [ ]:
# for gain accuray we use hyper tuning